h1,
h2,
h3,
h4,
p,
ul,
a  {
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  color: #2e2f42
}
img {
  display: block;
}
body{
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  align-items: center;
}



 /* ГОЛОВОО виз НАВВВВ ВИГЕЙШИНС*/
.header-header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 
  0px 2px 1px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div-container{
  padding: 32px 0;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px
}
.header-div-nav{
  display: flex; 
  align-items: center;
}
.nav-ul-a{
  padding: 24px 0 24px;
}
.nav-ul-a{
  padding: 24px 0;
  position: relative;
  color: #404bbf; 
}
.nav-ul-a::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* голова и в нем супєр лого A*/
.web-text{
  display: flex;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.web-accent {
  color: #2e2f42;
}

/* голова и нав по страничке без контактов A*/
.header-div-nav-ul{
  display: flex; 
  gap: 40px;
}
/* голова в котором адресут первая A */
.header-div-nav-address{
 
}
.nav-address-ul{
  display: flex;
  gap: 40px;
  font-style: normal;
}
.add-ul-a{
  transition:color 250ms,cubic-bezier(0.4, 0, 0.2, 1);
}
/**-------------------------*/

/* вторая секцияояояоя B*/
.main-section{
  padding: 188px 0;
  background: #2e2f42;
  color: #fff;
  /*background-image url: ;!!!!!!!!!!*/
}
.main-section-div-container{

}
.main-section-div-h{
  max-width: 496px;
  margin:0 auto 48px;
  text-align:center;
  font-size:56px;
  line-height:1.07;
  letter-spacing:0.02em;
  color: #ffffff;
}
.main-section-div-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: block;
  width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  cursor: pointer;
  color: #ffffff;
  background-color:#4d5ae5;
}
.main-section-div-button:hover,
.main-section-div-button:focus{
  background-color: #404BBF;
}
/*============================*/

/* третияяя йоу секшин C */
.body-c-section{
  padding: 120px 0;
}
.c-section-div{

}
.body-c-section-div-container{
  
}
.c-container-h-tittle{

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.c-section-div-ul{
  display: flex;
  gap: 24px;
}
.c-div-ul-li{
  width: calc((100% - 72px) / 4);
}
.c-ul-li-container{
  padding: 32px 0;
}
.c-li-tittle{
  font-family: "Roboto", sans-serif;
  margin-bottom:8px;
  font-weight:500;
  font-size:20px;
  line-height:1.2;
  letter-spacing:0.02em;
  color:#2e2f42;
}
.c-li-paragraph{
  font-family: "Roboto", sans-serif;
  line-height:1.5;
  letter-spacing:0.02em;
  color:#434455;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/* четвертая жоска секция D */
.body-d-section{
  padding: 120px 0;
  background-color: #F4F4FD;
}
.body-d-section-div-container{

}
.d-section-div-container-our-team{
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.d-section-div-container-ul{
  display: flex;
  gap: 24px;
}
.d-ul-li{
  border-top: none;
  padding: 32px 0;
  column-gap: 24px;
  row-gap: 48px;
  text-align:center;
}
.image-d{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    
}
.names{
 font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.d-paragraph{
  text-align: center;
}
/*_=_=_=_=_=_=_=_=_=_=_=_=_=_=_=_*/

/* пятая E */
.body-e-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.body-e-section-div-container{

}
.e-section-div-our-portfolio{
  font-family: "Roboto", sans-serif;
  margin-bottom: 72px;
  text-align:center;
  font-size:36px;
  line-height:1.11;
  letter-spacing:0.02em;
  text-transform:capitalize;
  color:#2e2f42;
}
.e-div-ul{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.e-ul-li{
width: calc((100% - 48px) / 3);
}
.e-ul-li-img{
}
.e-ul-li-img-container{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.e-ul-li-h-list-portfolio{
margin-bottom: 8px;
}
.e-ul-li-paragraph{

}
/* F */
    .footer{
      background-color:#2e2f42;
      padding: 100px 0;
     
     }
    .web-accent-w-f{
      color: #f4f4fd;
   
      
    }
    .web-text-f{
  display: flex;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
    }
    .p-in-footer{
      width: 264px;
      line-height: 1.5;
      color:  #F4F4FD;
      letter-spacing: 0.02em;
    
    }
  
